@import url("../static/css/footer.css");
@import url("../static/css/home.css");
@import url("../static/css/contact.css");
@import url("../static/css/aboutUs.css");
@import url("./static/css/services.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 10px;
}
.hero {
  width: 100%;
  height: 100px;
  background-color: #c98a40;
  display: flex;
  flex: wrap;
  align-items: center;
  border-bottom: 2px solid #584125;
}
.logo {
  width: 150px;
  height: 100px;
  padding: 20px;
}

.hero-navigation {
  width: 100%;
  display: flex;
}
.navigation-box {
  width: 100%;
}
.navigation-list {
  display: flex;
  justify-content: space-around;
  margin: 40px 20px 40px 20px;
}
.navigation-list-item {
  list-style: none;
  text-align: center;
  justify-content: space-around;
}
.navigation-list-item-link {
  text-decoration: none;
  color: black;
  margin: 0 10px 0 10px;
  justify-content: space-around;
  text-transform: capitalize;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .box_btn,
  .no_active,
  .active {
    display: none;
  }
  .active_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  .no_active_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  .hero {
    width: 100%;
    height: 100px;
    background-color: #c98a40;
    display: flex;
    flex: wrap;
    align-items: center;
    border-bottom: 2px solid #584125;
  }
  .hero-navigation {
    width: 100%;
    display: flex;
  }
  .navigation-box {
    width: 100%;
  }
  .navigation-list {
    display: flex;
    justify-content: space-around;
    margin: 40px 20px 40px 20px;
  }
  .navigation-list-item {
    list-style: none;
    text-align: right;
    justify-content: space-around;
  }
  .navigation-list-item-link {
    text-decoration: none;
    color: black;
    margin: 0 10px 0 10px;
    justify-content: space-around;
    text-transform: capitalize;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .box_btn,
  .no_active,
  .active {
    display: block;
  }
  .hero {
    width: 100%;
    height: 200px;
    background-color: #c98a40;
    display: flex;
    flex: wrap;
    align-items: center;
    border-bottom: 2px solid #584125;
  }
  .logo {
    display: none;
  }
  .logo-button {
    width: 150px;
    height: 100px;
    padding: 20px;
  }
  .button-box {
    width: 150px;
    height: 100px;
    align-items: center;
  }
  .hero-navigation {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .navigation-box {
    width: 100%;
    text-align: center;
  }
  .navigation-list-item {
    list-style: none;
    text-align: center;
    justify-content: space-around;
  }
  .no_active_list {
    display: none;
  }
  .active_list {
    background-color: #584125;
  }
  .navigation-list-item-link {
    color: #c98a40;
  }
}
