.footer-section {
  width: 100%;
  height: 100px;
  background-color: #584125;
  color: azure;
}
.footer-title {
  text-align: center;
  padding: 10px;
}
.team {
  text-align: center;
  font-size: 1.3rem;
}
