/* * {
  width: 100%;
  padding: 10px;
  background-color: white;
} */

.services-header {
  color: #c98a40;
  font-family: "Sen", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 96%; /* 138.24px */
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* .services-hero-foto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  max-width: 33%;
} */
.card {
  border-radius: 30px;
  border: 3px solid #ffd8ab;
  background: #fff;
}
.card > img {
  border-radius: 30px;
}

.services-button {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}
.button-services-link {
  text-decoration: none;
  color: #ad6f28;
  text-transform: capitalize;
}
.services-button-property {
  width: 195px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fdba10;
  font-size: large;
}

.services-button-property:hover {
  background-color: #c98a40;
}

.row {
  margin-left: 0px !important;
}
.card-text {
  min-height: 80px;
  border-radius: 30px;
  text-align: justify;
}
.card-body {
  border-radius: 30px;
}
.first-letter::first-letter {
  font-size: 150%; /* Możesz dostosować rozmiar litery */
  font-weight: bold; /* Opcjonalnie, jeśli chcesz pogrubione litery */
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .container-services {
    height: 123vh;
    display: inline-block;
  }
}
